@use "../abstract/" as *;

.footer {
  background-color: $accent-color;
  color: $bg-color;
  // height: 100vh;
  padding: 15rem 0;

  &__box {
    display: grid;
    grid-template-columns: 300px 2fr;
    gap: $horizontal-gutter;
  }

  &__faq {
    align-self: end;
  }
  &__info-box {
  }

  &__email-box {
  }

  &__icon-box {
  }

  &__icon {
  }
}
