@use "../abstract/" as *;

.hero {
  position: relative;
  height: 100vh;
  padding-top: 6rem;

  @include respond(tab-port) {
    height: 70vh;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }

  &__bg-item {
    max-width: 4rem;
    opacity: 0.2;
    position: absolute;

    @include respond(tab-port) {
      display: none;
    }

    &--1 {
      top: 50%;
      left: 12rem;
      scale: 4;
      rotate: 20deg;
    }

    &--2 {
      top: 25%;
      right: 20rem;
      scale: 2.5;
      rotate: -10deg;
    }

    &--3 {
      top: 15%;
      left: 45%;
      scale: 4;
      rotate: -10deg;
    }

    &--4 {
      top: 80%;
      left: 45%;
      scale: 2.4;
      rotate: -10deg;
    }

    &--5 {
      top: 80%;
      right: 20rem;
      scale: 4;
      rotate: 20deg;
    }

    &--6 {
      top: 20%;
      left: 23%;
      scale: 3;
      rotate: 60deg;
    }

    &--7 {
      top: 50%;
      left: 50%;
      scale: 1;
      rotate: 30deg;
    }
  }

  &__text-box {
    text-align: center;
  }

  &__title {
    margin-bottom: 4.6rem;

    span {
      text-transform: uppercase;
      color: $accent-color;
      font-family: "Orbitron", sans-serif;
    }
  }
}
