@use "../abstract/" as *;

.product {
  display: flex;
  justify-content: center;
  gap: 6rem;
  
  &__content {
    width: 300px;
  }

  &__text-box {
    text-align: right;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    & h3 {
      font-size: 3.2rem;
    }

    & p {
      font-size: 1.8rem;
    }
  }

  &__img-box {
    position: relative;

  }

  &__img {
    
  }

}