@use "../abstract/" as *;

.products {
  position: relative;
  background-color: #e7d5ba;
  padding: 15rem 0 7.5rem 0;
  margin: 10rem 0;
  text-align: center;
  &__title {
    position: absolute;
    bottom: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    h2 {
      color: $accent-color;
    }
  }
  &__box {
    // display: grid;
    // grid-template-columns: 1fr 2fr;
  }

  &__faq {
    position: absolute;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
    }
    &-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &-features {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
      text-align: right;
      width: 80%;
      margin-left: auto;

      h3 {
        margin-bottom: 1rem;
      }

      &-1 {
        position: relative;
        left: -10%;
      }
      &-4 {
        position: relative;
        left: -10%;
      }
    }

    &-img {
      display: block;
      position: absolute;
      right: 25%;
      top: -40%;
    }
  }
}
