@use "../abstract/" as *;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 50%;
  }
}

body {
  background-color: $bg-color;
}

.container {
  max-width: 1600px;
  padding: 0 3rem;
  margin: 0 auto;
}
