@use "../abstract/" as *;

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 9.6rem;
  font-weight: bold;
  line-height: .9;
  color: $text-color;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 6.4rem;
  line-height: 1.1;
  font-weight: bold;
  color: $bg-color;
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  font-weight: medium;
  line-height: 1;
}

p {
  font-family: "Jura", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
}

.faq {
  font-family: "Jura", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.info {
  font-family: "Jura", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn {
  font-family: "Orbitron", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
}

.msg {
  font-family: "Orbitron", sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
}
