@use "../abstract/index" as *;

// MARGIN BOTTOM
.mar-bot-smallest {
  margin-bottom: 1rem;
}

.mar-bot-small {
  margin-bottom: 2.5rem;
}

.mar-bot-medium {
  margin-bottom: 3rem;
}

.mar-bot-large {
  margin-bottom: 4rem;
}

.mar-bot-largest {
  margin-bottom: 8rem;
}

.mar-bot-largest-1 {
  margin-bottom: 10rem;
}

.mar-bot-largest-2 {
  margin-bottom: 16rem;
}

.mar-bot-largest-3 {
  margin-bottom: 26rem;
}

// SECTION PADDING
.section-pad-sm {
  padding-bottom: 10rem;
}

.section-pad-md {
  padding-bottom: 12rem;
}

.section-pad-lg {
  padding-bottom: 16rem;
}
