.u-center-text {
  text-align: center !important;
}

.u-mt-huge {
  margin-top: 11rem !important;
}

.u-mt-medium-1 {
  margin-top: 6rem !important;
}

.u-mt-small-1 {
  margin-top: 1rem !important;
}

// Margin
.u-mb-huge-1 {
  margin-bottom: 16rem !important;
}
.u-mb-big-1 {
  margin-bottom: 11rem !important;
}

.u-mb-medium-1 {
  margin-bottom: 6rem !important;
}

.u-mb-small-1 {
  margin-bottom: 1rem !important;
}
.u-mb-small-2 {
  margin-bottom: 2rem !important;
}
