@use "../abstract/" as *;

// Marque
.marque {
  height: 8rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 2px solid $text-color;
  padding: 7rem 0;
  border-bottom: 2px solid $text-color;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 3rem;
}
