@use "../abstract/" as *;
.review {
  position: relative;

  h2 {
    color: $accent-color;
    margin-bottom: 10rem;
    text-align:  center;
  }

  &__card {
    &-box {
      background-color: #e7d5ba;
      min-height: 500px;
      width: 80%;
      margin: 0 auto;
      padding: 9rem 7.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10rem;

      &-img {
        background-color: $accent-color;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        overflow: hidden;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-info {
        flex: 1;
        color: $text-color;
        text-align: start;

        h3 {
          margin-bottom: 2.5rem;
        }
      }
    }

    &-iconbox {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      border: 2px solid $text-color;
      display: flex;
      align-items: center;
      justify-content: center;

      &--left {
      }

      &--right {
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: auto;
}

.swiper-button-next::after {
  content: "";
}

.swiper-button-prev::after {
  content: "";
}
