.wrapper {
  overflow: hidden;
  position: relative;
}

.scroll-container {
  display: flex;
  width: 300vw;
  gap: 6rem;

  section {
    width: 100vw;
    height: 70vh;
    margin-top: 8rem;
  }
}

.sec {
  &__content {
    display: flex;
    overflow: hidden;
  }

  &__img-box {
    overflow: hidden;
    margin-right: 6rem;
  }

  &__img {
    width: 100%;
  }

  &__content-box {
    margin-top: 25rem;

    h1 {
      color: black !important;
      margin-bottom: 6rem;
    }
  }
}
