.wrapper {
  overflow: hidden;
  position: relative;
}

.scroll-container {
  display: flex;
  width: 300vw;

  section {
    width: 100vw;
    height: 100vh;
  }
}

.sec {
  &__content {
    display: flex;
    overflow: hidden;
    gap: 8rem;
  }

  &__img-box {
    overflow: hidden;
  }

  &__img {
    // object-fit: contain;
    width: 100%;
  }

  &__content-box {
    margin-top: 25rem;

    h1 {
      color: black !important;
      margin-bottom: 6rem;
    }
  }
}

// section {
//   // height: 100vh;
//   // left: 0;
//   // top: 0;

//   img {
//     width: 100%;
//   }
// }
